#m{
    fill: purple
}
#a_Ma{
    fill: purple;
}

#a_Anders{
    fill: purple;
}

#n{
    fill:white
}

#d{
    fill:white
}

#e{
    fill:white
}

#r{
    fill:white
}

#s{
    fill:red;
}

#hart{
    fill:purple
}
